<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>GDPTransfer</display-name>
  
  <servlet>
    <description>Log4j Init</description>
    <display-name>Log4j Init</display-name>
    <servlet-name>Log4jInitServlet</servlet-name>
    <servlet-class>com.hazy.servlet.Log4jInitServlet</servlet-class>
    <init-param>
      <param-name>configfile</param-name>
      <param-value>/WEB-INF/log.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
    <servlet>
    <servlet-name>GDPServlet</servlet-name>
    <servlet-class>com.hazy.gdptransfer.GDPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GDPServlet</servlet-name>
    <url-pattern>/default/GDPServlet</url-pattern>
  </servlet-mapping>

    
    <servlet>
    <servlet-name>GDPTransferServlet</servlet-name>
    <servlet-class>com.hazy.gdptransfer.GDPTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GDPTransferServlet</servlet-name>
    <url-pattern>/default/GDPTransferServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GDPSummaryServlet</servlet-name>
    <servlet-class>com.hazy.gdptransfer.GDPSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GDPSummaryServlet</servlet-name>
    <url-pattern>/default/GDPSummaryServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.hazy.gdptransfer.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/default/TransferServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.hazy.gdptransfer.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/default/ManagerServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.hazy.gdptransfer.AgileListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/default/ListServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>jsonServlet</servlet-name>
    <servlet-class>com.hazy.gdptransfer.JSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsonServlet</servlet-name>
    <url-pattern>/default/JSONServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>